.comments-btn1 {
  font-size: 40px;
  margin-top: 300px;
  margin-left: 200px;
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  filter: blur(4px);
  -webkit-filter: blur(4px);
  overflow: hidden;
}

#modal.open {
  display: block;
}

#overlay.open {
  display: block;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  width: 320px;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: #fff;
  top: 3%;
  left: 7%;
}

.comments-btn2 {
  width: 50px;
}

#meal-img {
  width: 260px;
  height: 260px;
}
