body {
    background-color: #374151;
}

.main-container {
    width: 85%;
    height: 100%;
    border: 1px solid white;
    box-shadow: 5px ;
    margin: 0 auto;
    background-color: #e3f2fd;
}


.navbar-nav {
    font-size: 20px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    box-shadow: inset 0 0 0 0 #374151;
    margin: 0 -.20rem;
    padding: 0 .20rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.navbar-nav:hover {
  box-shadow: inset 85px 0 0 0 #cecece;
  color: white;
}

.navbar-collapse ul li {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-collapse ul li a {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-brand img {
    width: 200px;
    height: 40px;
}


